
@{
    ViewBag.Title = "Fill";
}

<h2>Fill</h2>

Start page: <input id="fillStart" type="text" />
How many pages: <input id="fillAmount" type="text" />
<button id="fill" class="btn btn-primary btn-sm">Fill</button>

<div id="fillFeed"></div>