
@{
    ViewBag.Title = "MovieRecommendations";
}

<h2> Select recomendation mode: </h2>

<div class="jumbotron">

    <span>
        <button class="btn-danger">Mode 1</button>
        <button class="btn-danger">Mode 2</button>
        <button class="btn-danger">Mode 3</button>
    </span>
    
    <h3 Movies:></h3>

</div>


