@model IEnumerable<DrustveneMrezev3.Models.MovieListModel>
@{
    ViewBag.Title = "ShowUserMovies";
}

<table class="table table-hover ">
    <thead>
        <tr>
            <th>Movie title</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movieLike in Model.ToList())
        {
            <tr>
                <td>@movieLike.Title</td>
                <td><a href=@Url.Action("ShowMovieInformation", "Manage",new {id = movieLike.ID}) class="btn btn-primary btn-sm">Click for more details</a></td>
            </tr>
        }
    </tbody>
</table>
